.icon-search {
	display: none;
}

$main-font: 'Montserrat', sans-serif;

.c-header {
	display: flex;
	justify-content: space-between;

	&__right {
		display: flex;
    	align-items: center;
	}

	&__menu-item span {
		// font-size: 2.5rem;
		font-weight: 500;
		color: #b7b9b8;
	}

	&__icon {
		&--cart-img img {
			max-width: 50px;
		}
	}

	&__inline-menu {
		margin-right: 90px;
	}

	&__list-menu-item {
		margin-right: 90px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__search {
		display: none;
	}
}

.c-footer {
	&__copyright {
		background: #b7b9b8;
		justify-content: center;

		&-body {
			margin-top: 0;
		}
	}
}

.copyright {
	&__content {
		// font-size: 2.5rem;
		color: #606262;
		line-height: 2.6;
		font-weight: 400;
	}
}