section[class^=color-background-] .featured-product {
  background: url(top_bg.jpg) no-repeat center;
  background-size: cover;
}

.featured-product:not(.product--no-media) > .product__info-wrapper {
  padding: 4.2em 10rem !important;
}

.product-media-container {
  background: none;
}

.product__info-wrapper .product__title,
.sale_txt {
  color: #fff;
}

.product_desc {
  color: #c0bfbf;
}

.sale_txt {
  font-size: 6em;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  line-height: 0.8;
}

.sale_txt img {
  width: 12px;
  position: relative;
  left: 10px;
  bottom: 8px;
}

.product-form__buttons.btn2 > a {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 14px;
  margin-right: 1em;
}

.product-form__buttons.btn2 button {
  border-radius: 14px;
}

.product-form__buttons.btn2 .button:before,
.product-form__buttons.btn2 .button:after,
section[class^=color-background-] .product__modal-opener:hover .product__media-icon {
  display: none;
}

section[class^=color-background-] .product-media-container .media {
  top: 7.2em;
}

.product__info-wrapper .product__title.h1 {
  font-size: 1.4em;
  font-weight: 600;
}

section[class^=color-background-] > div {
  padding-top: 0;
  padding-bottom: 0;
}

footer {
  color: #5f6161;
}

footer h2 {
  font-weight: 600;
}

footer a {
  text-decoration: none;
}

.footer-logo {
  padding-bottom: 1.2em;
}

.footer-logo a {
  color: #000;
  font-size: 120%;
}

.footer-logo img {
  max-width: 120px;
}

footer .field__button {
  position: static;
  width: auto;
  border: 1px solid #5f6161;
  border-radius: 10px;
  padding: 0.6em 2em;
  text-transform: uppercase;
}

.newsletter-form__field-wrapper .field__input {
  border-bottom: 1px solid #5f6161;
  margin-bottom: 1em;
}

.newsletter-form__field-wrapper .field__input + label {
  color: #b7b8b8;
  left: 0;
}

footer .list-social {
  justify-content: flex-start;
}

footer .footer-block__heading {
  text-align: left;
  font-family: Montserrat, sans-serif;
  color: #5f6161;
}

footer .newsletter-form {
  margin: 0;
}

footer .footer__content-bottom {
  border: none;
  padding-top: 0;
}

.section-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd-padding {
  background: rgb(var(--color-background)) linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04));
  padding: 0 !important;
  margin: 4em 0;
}

.multicolumn .title.inline-richtext,
#MainContent h2 {
  margin: auto;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: #5f6161;
  text-transform: uppercase;
  text-align: center;
}

#Slider-template--19097913033022__89438783-7263-4d93-80f2-fecb84625569 li {
  position: relative;
  text-align: center;
}

#Slider-template--19097913033022__89438783-7263-4d93-80f2-fecb84625569 li .multicolumn-card__info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 0.8em;
}

#Slider-template--19097913033022__89438783-7263-4d93-80f2-fecb84625569 li .multicolumn-card__info a {
  text-transform: uppercase;
}

#Slider-template--19097913033022__89438783-7263-4d93-80f2-fecb84625569 li .multicolumn-card__info a > span {
  display: none;
}

#Slider-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd li {
  text-align: right;
}

#Slider-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd li h3 {
  display: inline-flex;
  padding-left: 2.4em;
  padding-top: 6px;
  padding-bottom: 6px;
}

#Slider-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd li:nth-child(1) h3,
#Slider-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd li:nth-child(2) h3 {
  background: url(icon_thoi_gian.png) no-repeat center left;
  background-size: contain;
}

#Slider-template--19097913033022__12c80c6f-c87e-41c1-8137-4dca910314cd li:nth-child(2) {
  text-align: left;
}

.h-section--product-tabs .media {
  position: static;
}

.category-btn {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 2em;
}

.category-btn li {
  padding: 2px 12px;
  border: 1px solid #5f6161;
  border-radius: 12px;
}

.category-btn li:not(:last-child) {
  margin-right: 8px;
}

.category-btn a {
  color: #5f6161;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}
/*# sourceMappingURL=sourcemaps/style-add.css.map */